<% if model.errors.any? %>
  <div class="error-alert">
    <ul>
      <% model.errors.full_messages.each do |messages| %>
        <li class='error-messages'><%= messages %></li>
      <% end %>
    </ul>
  </div>
<% end %>